main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  width: 100%;
}



#title {
  font-size: 80px;
  margin: 0;
  padding: 0 50px;
  border-radius: 50%;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  25% {
    color: red;
  }
  50% {
    color: #4370F1;
  }
  25% {
    color: red;
  }
}


#message {
  font-size: 30px;
  margin: 0;
  padding: 10px 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 400px;
  margin: 20px 0;
  width: 500px;
  border: 3px solid;
}

.cell {
  align-items: center;
  background: #4370F1;
  display: flex;
  height: 65.6px;
  justify-content: center;
  width: 70.6px;
}

.cell::after {
  background: lightgrey;
  border-radius: 50%;
  border: 2px solid darkblue;
  content: '';
  cursor: pointer;
  height: 55px;
  width: 55px;
}

.cell.red::after {
  background-color: red;
}

.cell.black::after {
  background-color: black;
}

.cell.grey::after {
  background-color: blue;
}

#reset {
  margin: 5px 0;
}

#fact, #fun-facts { 
  display: none;
}

@media only screen and (min-width: 786px){
  main {
    display: grid;
    justify-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "title turn"
    "board color"
    "button color";
  }

  .board {
    grid-area: board;
  }
  #title {
    grid-area: title;
  }

  #message {
    grid-area: turn;
  }
  #reset {
    grid-area: button;
    height: 100px;
    width: 300px;
    font-size: 60px
  }

  #token-color {
    grid-area: color;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  #winner {
    grid-area: color;
  }
} 

@media only screen and (min-width: 1100px){
  main {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 20% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "title turn fact-title"
    "board color facts"
    "button btm facts";
  }

  #fun-facts {
    display: flex;
    grid-area: fact-title;
    margin: 10px 0 0 0;
    padding: 0px 0px;
    text-decoration: underline;
  }

  #fact {
    display: flex;
    grid-area: facts;
    font-size: 20px;
  }

  .board {
    grid-area: board;
  }
  #title {
    grid-area: title;
  }

  #message {
    grid-area: turn;
  }
  #reset {
    grid-area: button;
    height: 100px;
    width: 300px;
    font-size: 60px
  }

  #token-color {
    grid-area: color;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  #winner {
    grid-area: color;
  }

} 