main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  width: 100%;
}

#contain-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 80px;
  margin: 0;
  /* width: 100%;
  height: 100%; */
  animation: pulse 10s infinite;
}

@keyframes pulse {
  25% {
    color: red;
  }
  50% {
    color: #4370F1;
  }
  25% {
    color: red;
  }
}


#message {
  font-size: 30px;
  margin: 0;
  padding: 10px 0;
}
.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 400px;
  margin: 20px 0;
  width: 500px;
  border: 3px solid;
}

.cell {
  align-items: center;
  background: #4370F1;
  display: flex;
  height: 66.6px;
  justify-content: center;
  width: 71.5px;
}

.cell::after {
  background: lightgrey;
  border-radius: 50%;
  border: 2px solid darkblue;
  content: '';
  cursor: pointer;
  height: 55px;
  width: 55px;
}

.cell.red::after {
  background-color: red;
}

.cell.black::after {
  background-color: black;
}

.cell.grey::after {
  background-color: blue;
}

@media only screen and (min-width: 768px) {
  body { 

  }
}